.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding to ensure some spacing on smaller screens */
}

.item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1200px; /* Limit the maximum width for larger screens */
  width: 100%;
  padding: 20px; /* Add padding for better spacing */
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #2e6617, #f4f4f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.img {
  width: 100%;
  height: auto; /* Change to auto to maintain aspect ratio */
  max-height: 500px; /* Limit the maximum height */
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.desc {
  font-size: 24px;
  font-weight: 300;
 
}

@media (max-width: 1024px) {
  .title {
    font-size: 64px;
  }

  .desc {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 56px;
  }

  .desc {
    font-size: 18px;
  }

  .img {
    max-height: 400px; /* Adjust max height for smaller screens */
  }
}

@media (max-width: 640px) {
  .item {
    gap: 30px;
  }

  .title {
    font-size: 48px;
  }

  .desc {
    font-size: 16px;
  }

  .img {
    display: none;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
  }

  .desc {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 24px;
  }

  .desc {
    font-size: 12px;
  }
}